body {
  font-family: Dancing Script;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  animation: rebote 1s;
}

@keyframes rebote {
  	0% {
  		margin-top: 150%;
  	}
  	60% {
  		margin-top: -5%;
  	}
  	100% {
  		margin-top: 0%;
  	}
}

@media (min-width: 900px) {

header {
  margin: 0 auto;
  width: 90%;
  height: 100px;
  color: white;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
}

header > h1 {
  margin-top: 30px;
  margin-left: 30px;
  float: left;
  text-shadow: 2px 2px #02010a;
}

div #navegador {
  margin-top: 40px;
  margin-right: 30px;
  float: right;
  word-spacing: 10px;
  font-size: 20px;
}

.link_index {
  text-decoration: none;
}

#ImagenCentral {
  background-color: #82c3a6;
  width: 90%;
  margin: 0 auto;
}

#ImagenCentral img{
  width: 50%;
  position: relative;
  left: 25%;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 2px 2px 2px 2px #02010a;
}

#Imagenes_Bajas {
  display: flex;
  margin: 0 auto;
  width: 90%;
  color: white;
  background-color: #d5c75f;
  border: 1px;
  justify-content: space-around;
}

.luciernagas{
  position: relative;
  width: 30%;
  height: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px 2px #02010a;
  transition: transform 1s;
  -webkit-transition: transform 1s;
}
.luciernagas:hover{
	transform: rotate(10deg);
}


.pescando{
  position: relative;
  width: 30%;
  height: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px 2px #02010a;
  transition: transform 1s;
  -webkit-transition: transform 1s;
}
.pescando:hover{
  transform: translate(20px, -5px);
}


footer{
  display: flex;
  background: #C6d5c5;
  width: 90%;
  margin: 0 auto;
  border-radius: 0px 0px 10px 10px;
}
.iconos_redes{
  width: 20%;
}

#Primera_Columna{
  padding: 20px;
  width: 100%;
}

#Segunda_Columna{
  padding: 20px;
  width: 100%
}

#Tercera_Columna{
  padding: 20px;
  width: 25%
}


#Cuarta_Columna{
  padding: 20px;
  width: 25%
  }
}

@media (max-width: 900px) {

header {
  margin: 0 auto;
  width: 90%;
  height: 10%;
  color: white;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-flow: column;
}

header > h1 {
  text-shadow: 2px 2px #02010a;
  text-align: center;
}

div #navegador {
  word-spacing: 10px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.link_index {
  text-decoration: none;
}

#ImagenCentral {
  background-color: #82c3a6;
  width: 90%;
  height: 20%;
  margin: 0 auto;
}

#ImagenCentral img{
  width: 70%;
  position: relative;
  left: 15%;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 2px 2px 2px 2px #02010a;
}

#Imagenes_Bajas {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 90%;
  height: 40%;
  color: white;
  background-color: #d5c75f;
  border: 1px
}

.bloqueIzq{
  position: relative;
  width: 10%;
}

.luciernagas{
  position: relative;
  margin: 0 auto;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px 2px #02010a;
  border: 2px solid black;
  transition: transform 1s;
  -webkit-transition: transform 1s;
}

.luciernagas:hover{
	transform: rotate(10deg);
}
.bloqueMed{
  position: relative;
  width: 10%;
}

.pescando{
  position: relative;
  margin: 0 auto;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px 2px #02010a;
  border: 2px solid black;
  transition: transform 1s;
  -webkit-transition: transform 1s;
}
.pescando:hover{
  transform: translate(20px, -5px);
}

.bloqueDer{
  position: relative;
  width: 5%;
}

footer{
  display: flex;
  flex-direction: column;
  background: #C6d5c5;
  width: 90%;
  height: 30%;
  margin: 0 auto;
  border-radius: 0px 0px 10px 10px;
  align-items: center;
}
.iconos_redes{
  width: 10%;
}

#Primera_Columna{
  text-align: center;
  width: 100%;
}

#Segunda_Columna{
  text-align: center;
  width: 100%;
}

#Tercera_Columna{
  text-align: center;
  width: 100%;
}


#Cuarta_Columna{
  text-align: center;
  width: 100%;
}

}
